*{
    margin: 0;
    padding:0;
    /*padding+border+width=box-sizing 250+15+15=280   margin: hariç*/
    box-sizing: border-box;
    
}

h5 {
  background-color: brown;
  color: white;
  font-size: 5rem;
}

/* 0123456789abcdef */
/* Sıfır Siyah
 key:value
 */
/* class: birden fazla tag'e değer vermek*/
.className {
  background: #47228b;
  color: chocolate;
}

/* id: tek bileşenler için kullanıyoruz.
 !important: zorunlu olarak kabul ettiriyorum
 */
#idName {
  background: #f0f1ca !important ;
  color: black;
}

/* div */
div {
  background-color: #000;
  color: rgba(206, 44, 44, 0.9);
  height: 200px;
  width: 23%;
  /* padding: ; iç boşluk  saatin dönme yönünde
    top left bottom right
    */
  /* padding: 5px  6px  7px 8px ;  */
  /* padding-top:6px: sadece yukardan 6 px iç boşluk olur */
  padding: 5px 3px;

  /* margin:dış boşluk */
  margin: 3px 3px;
  border: 1.5px solid rgb(202, 51, 51);
  /* border-radius: 50%; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
  display: inline-block;
  text-align: justify;
}

/* pseudo class */
div:hover {
  box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.5);
  font-size:20px;
}

#specialParagrag {
  text-align: justify;
  margin: 2px 12px;
  text-indent: 50px;
  text-decoration: underline;

  letter-spacing: 0.1px;
  word-spacing: 0.1px;
  line-height: 25px;
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-rule: 10px solid red;
}

/* cd */
.clearFix::before {
  content: "";
  clear: both;
  display: block;
}

#floatLeftID {
  float: left;
}

#floatRightID {
  float: right;
}
